<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!--<property name="hibernate.connection.url">jdbc:hsqldb:file:/spring/db/springdb;SHUTDOWN=true</property>-->
		<!--<property name="hibernate.connection.url">jdbc:hsqldb:file:testdb;shutdown=true;SHUTDOWN=true</property>-->
		<property name="hibernate.connection.url">jdbc:hsqldb:hsql:testdb;shutdown=true</property>
		<property name="hibernate.connection.driver_class">org.hsqldb.jdbcDriver</property>
		<property name="hibernate.connection.username">sa</property>
		<property name="hibernate.connection.password"></property>
		<property name="hibernate.connection.pool_size">1</property>
		<property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>

		<!-- Pokazywanie zapytan SQL - do debugowania -->
		<property name="hibernate.show_sql">true</property>
		
		<!-- Tworzenie bazy danych z plikow mapujacych. 
			 Zeby dane sie zachowywaly zmienic "create" na "update" -->
		<!-- <property name="hbm2ddl.auto">create</property> -->
		<property name="hbm2ddl.auto">update</property>

		<!-- "Import" the mapping resources here -->
		
		<!-- Przykladowe mapowanie z uzyciem plikow XML  -->
		<!--
			<mapping resource="sample/entity/lazy/User.hbm.xml"/> <mapping
			class="test.Book"/>
		-->
		
		<!-- Pliki mapujace do przykladow z ksiazki  -->
		<!-- 
		<mapping class="com.hibernatebook.annotations.Author"/>
		<mapping class="com.hibernatebook.annotations.AuthorAddress" />
		<mapping class="com.hibernatebook.annotations.Book" />
		<mapping class="com.hibernatebook.annotations.Address" />
		<mapping class="com.hibernatebook.annotations.Publisher" />
		<mapping class="com.hibernatebook.annotations.ComputerBook" />
 		-->
 		
		<!-- Pliki mapujace do mojej aplikacji - serwer licencyjny  -->
		<mapping class="com.mateuszput.licencingserver.entity.Owner" />
		<mapping class="com.mateuszput.licencingserver.entity.Application" />
		<mapping class="com.mateuszput.licencingserver.entity.Licence" />
		<mapping class="com.mateuszput.licencingserver.entity.BlockedIP" />

	</session-factory>
</hibernate-configuration> 
